# Firebase Configuration
# These are usually provided via firebase-applet-config.json, but can be set here as well.
# FIREBASE_PROJECT_ID=
# FIREBASE_DATABASE_ID=

# Focus NFe Configuration
FOCUS_NFE_TOKEN=
